.mynav {
    height: 96px;
}

.myTopbar {
    height: 16px;
    background-color: #512da8;
    width: 100%;
}

.myContainer {
    background-color: #673ab7;
}

.myCarousel-inner {
    max-height: 600px;
}

.myCard {
    height: 448;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.11);

}


html * {
    font-family: 'Raleway', sans-serif;
}

.semiBoldText {
    font-weight: 600;
}

.myCardImage {
    background-color: #eaeaea;
}

.myInputGroup {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.myForm {
    border: 2px solid dimgray;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 16px;

}

.myForm:focus {
    box-shadow: none;
    border-color: blueviolet;
}

.myModalDialouge {
    /*-webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);*/
    /*top: 50%;*/
    /* height: 80%;*/
    margin: 10% auto;
}

.myCardTitleBox {
    margin: 16px;
}

.myCardTitle {
    margin: 0;
}

.myNavLink {
    border-top-left-radius: 16px!important;
    border-top-right-radius: 16px!important;
}

.myNavbarBrand {
    margin-right: 0px;
}

@media (min-width: 992px) {
    .myBrandName {
        margin-right: 50px;
    }
}

.myBrandName {
    font-family: 'Major Mono Display', monospace;
     !important
}

.myBtn {
    border-radius: 16px;
    float: right;
    margin-top: 16px;
    margin-bottom: 16px;
}

.myCardBody {
    margin-bottom: 0px;
}

.myHr {
    margin: 0px;
}

.myCardText {
    height: 48px;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    overflow: hidden;
}
.myPrice{
    margin-bottom: 0px;
    width: auto;
}
.myFooter{
    height: 86px;
    background-color: #673ab7;
    padding-top: 16px;
    padding-bottom: 16px;
    
}
body{
    margin-bottom: none;
    background-color: #f7f5fb;
}
.myHrWhite{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FFF;
    margin: 8px 0;
    padding: 0; 
    margin-left: 48px;
    margin-right: 48px;
}
.myModalContent{
    border-radius: 16px;
}
.mySectionTitle{
    /*border-top: 2px solid #000;*/
    height: 48px;
    background-color: #7E57C2;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.11);
}
.mySectionTitleText{
    color: white;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    margin-top: 8px;
}
.myFooterContainer{
    padding: 0px;
}

.mySectionSpacer{
    margin-top: 48px;
}

.myLoginText{
    color: white !important;
}
.mySocialIcons{
    color: white;
    font-size: 60px;
    text-align: center
}

@media (min-width: 992px) { .myLoginText{
   float: right !important;
}
 }

.bdExample {
    position: relative;
    width: 100%;
    padding: 1rem;
    margin: 1rem -15px 0;
    margin-top: 0px;
}
h5{
    font-size: 21px;
}
p{
    font-size: 16px;
}
.myIcon{
    margin-left: 8px;
    margin-right: 8px;
}
.myTableCol{
    /*margin: 0px;
    padding: 0px;*/
}
.mySideBar{
    background-color: antiquewhite;
}
.row1{
    height: 100%
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
.myDashTitle{
    margin-top: 32px;
    margin-bottom: 32px;
}